<nav class="navbar">
     <div class="container">
         <div class="brand-and-toggler">
             <a href="index.html" class="navbar-brand">Abbracx</a>
             <button type="button" class="navbar-toggler" id="navbar-toggler">
                 <span>
                     <i class="fas fa-bars"></i>
                 </span>
             </button>
         </div>
         <div class="navbar-collapse">
             <ul class="navbar-nav">
                 <li class="nav-item nav-active">
                     <a href="index.html" class="nav-link">home</a>
                 </li>
                 <li class="nav-item">
                  <a href="about.html" class="nav-link">about</a>
              </li>
              <li class="nav-item">
                  <a href="resume.html" class="nav-link">resume</a>
              </li>
              <li class="nav-item">
                  <a href="services.html" class="nav-link">services</a>
              </li>
              <li class="nav-item">
                  <a href="skills.html" class="nav-link">skills</a>
              </li>
              <li class="nav-item">
                  <a href="project.html" class="nav-link">project</a>
              </li>
              <li class="nav-item">
                  <a href="blog.html" class="nav-link">blog</a>
              </li>
              <li class="nav-item">
                  <a href="contact.html" class="nav-link">contact</a>
              </li>
             </ul>
         </div>
     </div>
 </nav>